<div class="container">
	<h1 class="page-header">Cats Up for Adoption

	</h1>
	<form  id="myForm" action="/adoptCat/search/" method="POST" >
	    <div class="col-md-4">
	      <input type="radio" id="rb"  name="size" value="small" /> Small
	    </div>

	    <div class="col-md-4">
	      <input type="radio" id="rb" name="size" value="medium" /> Medium
	    </div>

	    <div class="col-md-4">
	      <input type="radio" id="rb" name="size" value="large" /> Large
	    </div>

	  </form>

		<div id='adoptCatSearch'>
    <div class='row'>
        {{#data}}
	        <div class="col-md-4" >
	            <img class="img-responsive img" src="{{image}}" alt="">
	                <h3>{{name}}</h3>
	                <p>Age: {{age}}</p><p>Gender: {{gender}}</p>
	                <p>Size: {{size}}</p>
	                <p>Bio: {{bio}}</p>
	        </div>
        {{/data}}
    </div>




		</div>

          <hr>
          <div>
            <div class="col-md-7 pull-right">
              <p>Created By:</p>
              <p><a href="https://github.com/SomeRandomCoder">Tyron Burkhardt</a><br> & <br><a href="https://github.com/danger12001">Paul Robertson</a></p>

            </div>
          </div>

    </div>

		<script type="text/javascript">
	 	$(document).ready(function () {
	 		$('#myForm input').on('change', function() {
				var searchVal = $('input[name=size]:checked', '#myForm').val();
			$.get("/adoptCat/search/" + searchVal, function(results){
				console.log(results);

			  $("#adoptCatSearch").html(results)

		 });
	 });
 });

	 </script>
